.scores {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  overflow: auto;
  border-collapse: collapse;
  margin: var(--space--gap) 0;
  text-align: left;
  caption {
    font-size: 1.5rem;
    color: var(--color--accent);
    text-align: left;
  }

  thead tr {
    border-bottom: var(--border);
    border-color: var(--color--accent);
  }
}
